/* App.css */

.app {
  display: flex;
}

.main-content {
  margin-left: 120px; /* Same width as sidebar */
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
  min-height: 100vh;
}

/* For smaller screens */
@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
